@font-face {
    font-family: 'Katuri';
    src: url('~/../public/fonts/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-katuri {
    font-family: 'Katuri', sans-serif;
}

@font-face {
    font-family: 'HakgyoansimGeurimilgiTTF-R';
    src: url('~/../public/fonts/HakgyoansimGeurimilgiTTF-R.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.font-hakyo-anshim-geurim-ilgi {
    font-family: 'HakgyoansimGeurimilgiTTF-R', sans-serif;
}
