@import url("~/font.scss");

.outlined-gray {
    -webkit-text-stroke: 4px #444;
    paint-order: stroke fill;
}

.outlined-pastelgreen-900 {
    -webkit-text-stroke: 4px #16511d;
    paint-order: stroke fill;
}

body {
    font-family: 'HakgyoansimGeurimilgiTTF-R', 'Comic Sans';
}